{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
  <div class="row justify-content-center">
      <div class="col-md-4">
        <h1 class="text-center">Registro</h1>
        <hr>
        <br>
          <div class="numeroRut">
          <div class="mb-3">
            <label for="verificar">Rut</label>
            <input
              name="rut"
              id="rut"
              type="text"
              class="form-control "
              placeholder="Ingrese un RUT"
              maxlength="12"
            />
            <p></p>
            <form name="verificar" class="form needs-validation" id="myForm"novalidate>
            <div class="form-row">
              <div class="mb-3">
                  <label for="verificar">Nombre</label>
                  <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required>
              </div>
              <div class=" mb-3">
                  <label for="verificar">Apellido</label>
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Apellido" required>
              </div>
              <div class=" mb-3">
                  <label for="verificar">Contraseña</label>
                  <input type="password" class="form-control" id="validationCustom03" placeholder="xxxx" required>
                <div id="passwordHelpBlock" class="form-text">
                    Tu contraseña debe tener entre 8 y 20 caracteres, contener letras y números, y no debe contener espacios, caracteres especiales ni emoji.
                </div>
              </div>
              <div class=" mb-3">
                  <label for="verificar">Vuelve a escribir la contraseña</label>
                  <input type="password" class="form-control" id="validationCustom003"; placeholder="xxxx" required>
              </div>
              <div class=" mb-3">
                  <label for="verificar">Correo electrónico</label>
                  <input type="email" class="form-control" id="validationCustom04" placeholder="xxxxxxx@hotmail.com" required>
                <div id="emailHelp" class="form-text">
                    Nunca compartiremos su correo electrónico con nadie más.</div>
                </div>
              </div>
              <div class=" mb-3">
                  <label for="verificar">Direccion</label>
                  <input type="text" class="form-control" id="validationCustom06" placeholder="Direccion"  required>
              </div> 
              <div class=" mb-3">
                  <label for="verificar">Fecha de nacimiento</label>
                  <input id='date' class='input form-control' name="date" placeholder ="formato dd/mm/yyyy" required />
                  <div id="fechaHelp" class="form-text">
                    Por favor siga el formato:dd/mm/yyyy</div>
                  </div>
              </div>
              <center> <button class="btn btn-primary" type="">Enviar</button></center>  
            </form>
          </div>
    </div>
</div> 
{% endblock content %}
